@charset "UTF-8";

html {
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#content {
  height: auto;
  line-height: 1.75em;
  padding: 24px 20px 24px 20px;
  color: #3f3f3f;
  outline: 0px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 17px;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 11px;
  border-left: 3px solid #ccc;
  background-color: #f1f1f1
}

a {
  color: #4560af;
  text-decoration: none;
  background: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

img {
  border: 0;
  max-width: 100%;
}

.image_description{
  display: block;
  font-size: 12px;
  color: rgb(128, 128, 128);
  text-align: center;
  margin: 0px 16px 20px 16px;
}
